{% extends 'index.html' %}
{% block title %}
404
{% endblock %}
{% block body %}
<div class="container mt-5">

<h1>     <div class="places__item-error">
        <summary>Страница не найдена</summary>
        <header class="header_error">
                <div class="header__items_error">
                    <ul class="main__menu flex-container">
                        <li><a href="/"><h2>На главную</h2></a></li>
                
            </div>
        </header>
          
</div></h1>   
    
</div>
{% endblock %}