<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Культура Владимира{% endblock %}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Roboto+Condensed:wght@500&display=swap');
      </style>
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Roboto+Condensed:wght@400;500&display=swap');
      </style>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link type="image/x-icon" href="{{ url_for('static',filename='images/Vid-na-Zolotye-vorota-Vladimira.jpg') }}" rel="shortcut icon">
    <link type="Image/x-icon" href="{{ url_for('static',filename='images/Vid-na-Zolotye-vorota-Vladimira.jpg') }}" rel="icon">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__items">
                <ul class="main__menu flex-container">
                    <li><a href="http://127.0.0.1:5501/index.html"><h2>Культура Владимира</h2></a></li>
                    <li>
                        <a href="http://127.0.0.1:5501/museums.html">Музеи</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5501/buildings.html">Здания</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5501/monument.html">Памятники</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5501/placec.html">Места</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:5501/peoples.html">Люди</a>
                    </li>
                </ul>
                <div class="main__menu--txt"><p>«Культура Владимир» собрал для вас в одном месте исторические и памятные места нашего города.</p></div>
            </div>
        </div>
        
    </header>
    <div class="places">
        <div class="container">
            <div class="places__title">
                <h2>Места</h2>
            </div>
            <main>
                {% block body %}{% endblock %}
            </main>
        </div>
    </div>




    <footer>
        <div class="footer__nav">
            <div class="container">
                <div class="footer__items">
                    <div class="footer__info--items">
                        <div class="footer__info--item">
                            <ul>
                                <li><a href="#"><h3>наши услуги</h3></a></li>
                                <li><a href="#"><p>Разработка сайтов</p></a></li>
                                <li><a href="#"><p>Продвижение сайтов</p></a></li>
                                <li><a href="#"><p>Поддержка сайтов</p></a></li>
                                <li><a href="#"><p>Контекстная реклама</p></a></li>
                                <li><a href="#"><p>Социальне сети</p></a></li>
                            </ul>
                        </div>
                        <div class="footer__info--item">
                            <ul>
                                <li><a href="#"><h3>наше портфолио</h3></a></li>
                                <li><a href="#"><p>Портфолио по разработке сайтов</p></a></li>
                                <li><a href="#"><p>Портфолио по дизайн-макетов</p></a></li>
                                <li><a href="#"><p>Портфолио по видеоконтенту</p></a></li>
                                <li><a href="#"><p>Портфолио по фотоконтенту</p></a></li>
                            </ul>
                        </div>
                        <div class="footer__info--item">
                            <ul>
                                <li><a href="#"><h3>IT-курсы</h3></a></li>
                                <li><a href="#"><p>С# - разработчки (базовый уровень)</p></a></li>
                                <li><a href="#"><p>Java - разработчки (базовый уровень)</p></a></li>
                                <li><a href="#"><p>Phyton - разработчки (базовый уровень)</p></a></li>
                                <li><a href="#"><p>Веб - разработчик FULLSTACK</p></a></li>
                                <li><a href="#"><p>Cоздание веб - приложений на React и Redux</p></a></li>
                            </ul>
                        </div>
                        <div class="footer__info--item">
                            <ul>
                                <li><a href="#"><h3>Cтатьи</h3></a></li>
                                <li><a href="#"><p>О компании</p></a></li>
                                <li><a href="#"><p>Политика возврата средств</p></a></li>
                                <li><a href="#"><p>Условия доставки</p></a></li>
                                <li><a href="#"><p>Персональные данны</p></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="copyriht-soc">
                    <div class="copyriht">
                        <p>
                            Веб-студия "Профессионал" 350004, г. Краснодар, ул. Бабушкина, 252, оф. 11
                                ИНН 231114234337, ОГРН 304231136600682
                        </p>
                    </div>
                    <div class="soc">
                        <div class="soc-items">
                            <div class="soc-bacc">
                                <img src="{{ url_for('static',filename='images/footer-soc__fon.png') }}" alt="">
                            </div>
                            <div class="soc__item--tg">
                                <a href="#"><img src="{{ url_for('static',filename='images/tg_logo.png') }}" alt=""></a>
                            </div>
                            <div class="soc__item--vk">
                                <a href="#"><img src="{{ url_for('static',filename='images/vk-social-network-logo.png') }}" alt=""></a>
                            </div>
                            <div class="soc__item--inst">
                                <a href="#"><img src="{{ url_for('static',filename='images/instagram_logo.png') }}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </footer>



    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>
</html>