{% extends 'index.html' %}
{% block title %}
Памятники
{% endblock %}
{% block body %}
<div class="container">
    <div class="places__items">
        {%for el in places%}
        
            <div class="places__item">
                <div class="places__item-image">
                    <img src="{{el[2]}}" alt="">
                </div>
                <div class="places__item-title">
                    <details>
                        <summary><span>{{el[1]}}</span></summary>
                        <p>{{el[5]}} </p>
                    </details>
                </div>
                <div class="places__item--street">
                    <img src="{{el[3]}}" alt="">
                    <a href="{{el[4]}}" target="_blank">{{el[6]}}</a>
                </div>
                <div class="rating-area">
                    <input type="radio" id="star-5" name="rating" value="5">
                    <label for="star-5" title="Оценка «5»"></label>	
                    <input type="radio" id="star-4" name="rating" value="4">
                    <label for="star-4" title="Оценка «4»"></label>    
                    <input type="radio" id="star-3" name="rating" value="3">
                    <label for="star-3" title="Оценка «3»"></label>  
                    <input type="radio" id="star-2" name="rating" value="2">
                    <label for="star-2" title="Оценка «2»"></label>    
                    <input type="radio" id="star-1" name="rating" value="1">
                    <label for="star-1" title="Оценка «1»"></label>
                </div>
                <div class="rating-result">
                    <span class="active"></span>	
                    <span class="active"></span>    
                    <span class="active"></span>  
                    <span></span>    
                    <span></span>
                </div>
            </div>
        
        {%endfor%}
    </div>
</div>
{% endblock %}